<h1>Users#followers</h1>
<p>Find me in app/views/users/index.html.erb</p>
<% if flash[:notice] %>
<div id="notice"><%= flash[:notice] %></div>
<% end %>

<table>
<% @followers.each do |user| %>
 <tr> <td><%= user.id %></td>
      <td>&nbsp;<%=link_to user.email,user_path(:id=>user.id) %> </td> 
 </tr>
<% end %>
</table>
