<h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p>
<% if flash[:notice] %>
<div id="notice"><%= flash[:notice] %></div>
<% end %>

<table>
<% @user_posts.each do |post| %>
 <tr> <td><%= post.content %></td>
      <td>&nbsp;<%=link_to("Delete",posts_destroy_path(:id=>post.id),:method=>:delete) %> </td> 
 </tr>

<% end %>
</table>
